/* https://colorhunt.co/palette/fff5e4ffc4c4ee6983850e35 ---color Palete*/ 
body{
    background-color: #FFF5E4;
}
img{
    border-radius: 100%;
    border:2px solid #FFC4C4;
    transition: 600ms ease-in-out;
}
.title{
    display: inline-block;
    position: relative;
    top: -2.3rem;
    margin: 1rem;
}
hr{
    border-style: none;
    border-top: 6px dotted #FFC4C4;
    width: 3%;
}
h1{
    color: #850E35;
}
h2{
    color: #850E35;
}
