
<%- include("header") -%>
    <h1 style="color:black;">ABOUT</h1>
    <p>
        Welcome to our to-do list app! We're a team of dedicated individuals who understand the importance of productivity and organization. We created this app to help you stay on top of your tasks and accomplish your goals. Our mission is to provide you with a simple and user-friendly tool that makes your life easier. We hope you enjoy using our app and find it helpful in your daily routine. Thank you for choosing us!
    </p>
<%- include("footer") -%>